<% # Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license at the bottom of this file. %>
<% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'static_pages/contact_list' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Office 365 Contact-to-vCard Import/Export Tool</h1>

    <h2>
      This tool allows you to import or export contacts to and from the standard 
      <a href="http://www.ietf.org/rfc/rfc2426.txt">vCard format</a>.
    </h2>

    <%= link_to "Sign in with your Office 365 or Outlook.com Account", o365_login_url, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<%
# MIT License: 
 
# Permission is hereby granted, free of charge, to any person obtaining 
# a copy of this software and associated documentation files (the 
# ""Software""), to deal in the Software without restriction, including 
# without limitation the rights to use, copy, modify, merge, publish, 
# distribute, sublicense, and/or sell copies of the Software, and to 
# permit persons to whom the Software is furnished to do so, subject to 
# the following conditions: 
 
# The above copyright notice and this permission notice shall be 
# included in all copies or substantial portions of the Software. 
 
# THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT WARRANTY OF ANY KIND, 
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE 
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION 
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION 
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>