<div class="center jumbotron">
  <h1>Welcome to the Office 365 Contact-to-vCard Import/Export Tool</h1>

  <h2>
    This tool allows you to import or export contacts to and from the standard 
    <a href="http://www.ietf.org/rfc/rfc2426.txt">vCard format</a>.
  </h2>

  <%= link_to "Sign in with your Office 365 Account", "#", class: "btn btn-lg btn-primary" %>
</div>