<div class="row">
  <aside class="col-md-4">
    <section>
      <h3>Your contact has been converted to the vCard data shown to the right.</h3>
    </section>
  </aside>
  <div class="col-md-8">
    <section>
      <%= form_tag download_path, role: "form" do %>
        <div class="form-group">
          <%= hidden_field_tag "contact_name", @contact_name %>
          <%= text_area_tag "vcard", @vcard, class: "form-control", rows: 30 %>
        </div>
        <div class="form-group">
          <%= submit_tag "Download", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    <section>
  </div>
</div>