<div class="col mb-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><%= contact['displayName'] %></h5>
      <a href="#" class="btn btn-primary">Edit as VCF</a>
    </div>
  </div>
</div>
