<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<div class="col mb-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><%= contact['displayName'] %></h5>
      <%= link_to "Edit", contacts_edit_path(id: contact['id']), class: "btn btn-primary" %>
      <%= link_to "Download", contacts_download_path(id: contact['id']), class: "btn btn-primary" %>
    </div>
  </div>
</div>
