<footer class="footer">
  <small>
    An <a href="https://msdn.microsoft.com/office/office365/APi/contacts-rest-operations">Office 365 Contacts API</a>
    sample by <a href="http://www.twitter.com/JasonJohMSFT">Jason Johnston</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/jasonjoh/o365-vcftool/">Get the Source</a><li>
      <li><a href="http://blogs.msdn.com/b/exchangedev/">Exchange Dev Blog</a></li>
    </ul>
  </nav>
</footer>